.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px - 70px);
  width: 100vw;
}
.login-form {
  max-width: 80%;
  min-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
